<div class="container">
  <div class="row">
    <!--サイト説明-->
    <h2>
      ようこそ<strong>Movies</strong>へ！<br>
      このサイトはおすすめ映画の投稿サイトとなっています。
    </h2>

<!--投稿一覧    -->

<!--新しい投稿順４つ-->
    <h1>新しい投稿</h1>

<!--いいね多い順４つ    -->
    <H1>おすすめ映画</H1>
  </div>
</div>